.loginRow {
    margin-top: 150px;
}

#dateInterBorder {
    border-style: solid;
    border-width: 2px;
    border-color: #2a62bc;
}

.pieceTitle {
    margin-top: 50px;
}

.labelActions {
    color: black;
}

.inputAction {
    margin-bottom: 10px;
}

.labelCri {
    color: black;
}

.submit {
    margin-top: 50px;
    margin-bottom: 100px;
}

.rowPieceAChanger {
    border-style: solid;
    border-width: 2px;
    border-color: black ;
}

.rowDisplayPiece {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #2a62bc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #2a62bc;
}